$alert-error-background-color: #ffc9cc;
$alert-error-color: #9c000d;

$alert-info-background-color: #b6eeaf;
$alert-info-color: #1d8d0c;

$alert-warn-background-color: #ffeeba;
$alert-warn-color: #e67219;

$bg-color-accepted: #e6ffed;
$bg-color-container: aliceblue;
$bg-color-header: lightpink;
